@mixin body-copy {
  font-size: 18px;
}

@mixin font-family {
  font-family: "Bai Jamjuree", sans-serif;
}

@mixin flex($align-position, $justify-position) {
  display: flex;
  align-items: $align-position;
  justify-content: $justify-position;
}
