$dark-Grayish-Blue: hsl(210, 10%, 33%);
$grayish-Blue: hsl(201, 11%, 66%);
$white: hsl(0, 0%, 100%);
$ios-btn-color: hsl(171, 66%, 44%);
$mac-btn-color: hsl(233, 100%, 69%);
$ios-btn-hover: hsla(171, 66%, 44%, 0.8);
$mac-btn-hover: hsla(233, 100%, 69%, 0.8);
$ios-btn-shadow: hsla(171, 66%, 44%, 0.25);
$mac-btn-shadow: hsla(233, 100%, 69%, 0.25);
$footer-bg: hsla(201, 11%, 66%, 0.15);
